html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* CONTENEDOR */

#container {
  width: 90%;
  margin: 0 auto;
  background-color: #F5F4F9;
}

/* ENCABEZADO */
#header {
  background-color: #1A2E35;
}

/* MENU */

#menu ul {
  list-style: none;
  overflow: hidden;
  padding-bottom: 0.3em;
}

#menu ul li {
  float: left;
  width: calc(100%/10);
  color: #7B8E9C;
  min-height: 50px;
  text-align: center;
  padding-top: 0.3em;
}

#menu ul li:hover {
  background-color: #111F25;
}

#menu ul li a {
  color: #7B8E9C;
  text-decoration: none;
}

.puntos {
  background: url("../images/menu/puntos.png") no-repeat 50% 100%;
}

.puntos:hover {
  background: url("../images/menu/puntos_b.png") no-repeat 50% 100%;
}

.lesionados {
  background: url("../images/menu/lesionados.png") no-repeat 50% 100%;
}

.lesionados:hover {
  background: url("../images/menu/lesionados_b.png") no-repeat 50% 100%;
}

.dinero {
  background: url("../images/menu/dinero.png") no-repeat 50% 100%;
}

.dinero:hover {
  background: url("../images/menu/dinero_b.png") no-repeat 50% 100%;
}

.jugadores {
  background: url("../images/menu/jugadores.png") no-repeat 50% 100%;
}

.jugadores:hover {
  background: url("../images/menu/jugadores_b.png") no-repeat 50% 100%;
}

.ideal {
  background: url("../images/menu/puntos.png") no-repeat 50% 100%;
}

.ideal:hover {
  background: url("../images/menu/puntos_b.png") no-repeat 50% 100%;
}

.liga {
  background: url("../images/menu/laliga.png") no-repeat 50% 100%;
}

.liga:hover {
  background: url("../images/menu/laliga_b.png") no-repeat 50% 100%;
}

.mercado {
  background: url("../images/menu/mercado.png") no-repeat 50% 100%;
}

.mercado:hover {
  background: url("../images/menu/mercado_b.png") no-repeat 50% 100%;
}

.apuestas {
  background: url("../images/menu/apuestas.png") no-repeat 50% 100%;
}

.apuestas:hover {
  background: url("../images/menu/apuestas_b.png") no-repeat 50% 100%;
}

.dudas {
  background: url("../images/menu/dudas.png") no-repeat 50% 100%;
}

.dudas:hover {
  background: url("../images/menu/dudas_b.png") no-repeat 50% 100%;
}

.buscar {
  background: url("../images/menu/buscar.png") no-repeat 50% 100%;
}

.buscar:hover {
  background: url("../images/menu/buscar_b.png") no-repeat 50% 100%;
}

/* SECCION DE PARTIDOS */

#partidos {
  margin-left: 3%;
  padding-top: 1em;
}

#partidos > p {
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.4em;
}

#partidos1 {
  width: 100%;
  overflow: hidden;
}

#partidos1 > div {
  float: left;
  overflow: hidden;
  background-color: white;
  border: 1px solid white;
  margin-right: 0.5em;
  width: calc(90%/5);
}

#partidos1 > div > div{
  float: left;
  padding: 0.1em;
}

#partidos1 > div > div > p {
  text-align: center;
}

#partidos1 > #p1 > div > p {
  color: red;
}

#partidos2 {
  width: 100%;
  overflow: hidden;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

#partidos2 > div {
  float: left;
  overflow: hidden;
  background-color: white;
  border: 1px solid white;
  margin-right: 0.5em;
  width: calc(90%/5);
}

#partidos2 > div > div{
  float: left;
  padding: 0.3em;
}

#partidos2 > div > div > p {
  text-align: center;
}

/* FORMULARIO */

#formulario {
  background-color: white;
  padding: 1em;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 1em;
}

#formulario > p {
  font-weight: bold;
  padding: 0.4em;
}

#form {
  background-color: #D8F3FD;
  overflow: hidden;
}

#form > div {
  border: 1px solid white;
  overflow: hidden;
}

#izq {
  width: 50%;
   float: left;
}

#izq > label {
  font-weight: bold;
}

#der {
  width: 50%;
  float: left;
}

#der > input {
  width: 100%;
  border-radius: 0;
}

#campo {
  padding: 0.5em;
}

#buttons {
  padding-top: 1em;
}

#buttons > input {
  padding: 0.2em;
  border-radius: 0;
}

/* ESTADÍSTICAS */

#stats {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
}

#stats > div > p {
  font-weight: bold;
  padding: 0.4em;
}

#visitas {
  background-color: white;
  float: left;
  width: 49.5%;
}

#visitas > img {
  width: 60%;
  margin-left: 20%;
  padding-top: 0.2em;
}

#busquedas {
  background-color: white;
  float: right;
  width: 49.5%;
}

#busquedas > img {
  width: 60%;
  margin-left: 20%;
  padding-top: 0.2em;
}

/* PIE DE PÁGINA */

#footer {
  background-color: black;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

#footer > ul {
  list-style: none;
}

#footer > ul > li {
  color: #517985;
  margin-left: 40%;
}

#footer > ul > li > a {
  color: white;
}
